section {
  width: 400px;
}

.boxNl {
  padding: 5px;
  flex-grow: 1;
}
table {
  margin-top: 20px;
}

.boxHobby {
  background-image: url("./Image-certificates/Bergen_about.jpg");
  background-size: 400px 400px;
  text-align: center;
  padding: 5px;
  color: black;
  font-weight: 500;
  border-radius: 3%;
}

.boxNl h4 {
  padding: 10px 0;
  line-height: 25px;
  color: var(--color-brown);
  font-family: "Amatic SC, sans-serif";
}
.boxNl h5 {
  margin-top: 30px;
}

.boxHobby h5 {
  line-height: 25px;
  text-align: center;
  padding-top: 65px;
}

.sizeLink {
  font-size: 16px;
  color: #5399b8;
  font-weight: 400;
  transition-property: font-size;
  transition-duration: 500ms;
  transition-timing-function: linear;
}

.sizeLink:hover {
  font-weight: 600;
  color: #7195b7;
  font-size: 17px;
}

.dutch {
  tbody tr td:first-child {
    padding-right: 1em;
    vertical-align: top;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    display: block;
    padding-top: 1em;
  }

  section {
    width: auto;
  }

  .boxHobby {
    background-size: 100% 400px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .boxNl {
    padding: 15px;
    width: auto;
    justify-content: center;
  }
}

@media only screen and (min-width: 1080px) {
  section {
    width: 50%;
  }

  .boxHobby {
    width: 400px;
    height: 400px;
    background-size: 400px 400px;
    opacity: 0.9;
  }
}
