.wrapper {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
  }
  
  section {
    width: 400px;
    height: 400px;
  }
  
  .box1 {
    padding: 0,7px;
    font-size: 15px;
    width: 400px;
  }
  
  .box1 p {
    line-height: 25px;
    text-align: center;
    font-family: "Noto Music";
  }
  
  .sizeLink {
    font-size: 16px;
    color: #5399b8;
    font-weight: 400;
    transition-property: font-size;
    transition-duration: 500ms;
    transition-timing-function: linear;
  }
  .sizeLink:hover {
    font-weight: 600;
    color: #7195b7;
    font-size: 17px;
  }
  
  .box2 {
    background-image: url("Bergen.jpg");
    background-size: 400px 400px;
    text-align: center;
    padding: 10px;
    color: black;
    font-weight: 500;
  }
  
  .box2 p {
    padding:10px;
    font-size: 14px;
    line-height: 25px;
    font-family: "Noto Music";
  }
  
  td {
    padding: 0 10px;
    font-size: 14px;
  }
  
  @media only screen and (max-width: 576px) {
    .wrapper {
      display: block;
      padding-top: 1em;
    }
  
    section {
      height: 390px;
      width: auto;
    }
  
    .box2 {
      background-image: url("Bergen.jpg");
      background-size: 100% 400px;
      background-position: center;
      background-repeat: no-repeat;
      
    }
  
    .box1 {
      padding: 15px;
      width: auto;
    }
  }
  
  @media only screen and (min-width: 1080px) {
    section {
      width: 50%;
      height: 50%;
    }
    .box1 {
      width: 40%;
      font-size: 1.4em;
    }
  
    .box1 p {
      padding-bottom: 15px;
      letter-spacing: 4px;
      font-size: 18;
      font-weight: 400;
      line-height: 0px;
      text-align: center;
    }
    .box2 {
      width: 400px;
      height: 400px;
      background-image: url("./Image-certificates/Bergen_about.jpg");
      background-size: 400px 400px;
      opacity: 0.9;
    }
  
    td {
      font-size: 1.5em;
    }
  }