* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: var(--background-green);
  transition-property: background-color;
  transition-duration: 2s;
  width: 100vw;
  position: fixed;
  top: 0px;
  height: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

main {
  margin-top: 75px;
}

.header:hover {
  background-color: #163318;
}

nav {
  padding: 10px;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.navHeader {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  position: static;
  font-weight: 100;
  font-size: 1.7em;
  flex-grow: 1;
}

.linkStyles {
  font-family: "Noto Music";
  font-weight: 100;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.menuIcon {
  display: none;
}

.menuLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-grow: 2;
}

@media only screen and (max-width: 576px) {
  .header {
    justify-content: start;
  }

  nav {
    padding: 0;
    justify-content: end;
    align-content: center;
    text-align: center;
  }

  .navHeader {
    font-size: 1.7em;
  }

  .linkStyles {
    text-decoration: underline;
    padding: 10px;
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-weight: 600;
  }

  .menuLinks,
  .navHeader {
    display: none;
  }

  .menuLinks.menuLinksOpen {
    display: flex;
    background-color: var(--background-green);
    flex-flow: column nowrap;
    flex-basis: 100%;
    height: 100vh;
    justify-content: normal;
  }

  .menuIcon {
    margin-top: 21px;
    display: block;
    width: 35px;
    cursor: pointer;
    margin-right: 25px;
  }

  .menuBar {
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }

  .menuClose {
    font-size: 21px;
    margin: 6px 0;
  }
}

@media only screen and (min-width: 1080px) {
  nav {
    padding: 10px;
    align-content: center;
  }

  .navHeader {
    font-size: 2em;
    top: 50px;
  }

  .linkStyles {
    text-decoration: underline;
    font-size: 1em;
    text-decoration: none;
  }
}
