.header {  
  margin-top: 75px;
  text-align: center;  
  line-height: 1.7;
  /* Tijdens het pizza bakken gaan we postcss proberen, dat is niet moeilijk :) */
  color: #3a3636;
  width: auto;
}



.headerName {
  font-family: "Noto Music""Noto Music";
  font-weight: 100;
  font-size: 2em;
  letter-spacing: 4px;
  
}

.headerTekst {
  font-size: 20px;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  position: static;
  font-weight: 100;
  font-size: 1.7em;
}


@media only screen and (min-width: 320px) and (max-height: 760px) {
  .headerName{
    margin-top: 110px
  }
  .headerTekst {
    margin: 10px ;
    font-size: 1.4em;
  }
}
  


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .header {
    float: left;
  }

}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {
.headerName {
  font-size: 2.5em;
  letter-spacing: 5px;
  margin-top: 150px;
}
.headerTekst{
  font-size: 1.5em;
  
}
}