.squareBox2 {
  height: 170px;
  width: 400px;
  padding-top: 50px;
  padding-left: 40px;
  background-color: white;
  border: 1px solid lightgray;
  border-top: solid var(--background-green);
  border-width: 10px 1px 1px;
  border-radius: 8px;
  font-size: 17px;
  margin-top: 12px;
}

.googleform {
  max-width: 100%;
}

.boxEnvelop,
.boxGithub,
.boxLocation {
  width: 2em;
  color: var(--color-brown);
}

.contactEnvelop,
.contactHub,
.contactLocation {
  height: 30px;
  font-weight: 400;
}

.tekstEnvelop,
.tekstLocation {
  display: inline;
}

@media only screen and (max-width: 1010px) {
  .wrapperBox {
    display: block;
  }

  .squareBox2 {
    width: 250px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
  }

  .squareBox1 {
    width: auto;
  }
}
