.squareBox2 {
  height: 170px;
  width: 400px;
  padding-top: 40px;
  background-color: white;
  font-size: 17px;
}

.googleform {
  max-width: 100%;
}

.boxEnvelop,
.boxGithub,
.boxLocation {
  width: 2em;
  color: var(--color-brown);
}

.contactEnvelop,
.contactHub,
.contactLocation {
  height: 30px;
  font-weight: 400;
}

.tekstEnvelop,
.tekstLocation {
  display: inline;
}

@media only screen and (max-width: 1010px) {
  .wrapperBox {
    display: block;
  }

  .squareBox2 {
    width: 250px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
  }

  .squareBox1 {
    width: auto;
  }
}
