.skills {
  width: 80%;
  border-spacing: 10x;

  th {
    padding: 10px;
    font-weight: 100;
    font-family: "Amatic SC, sans-serif";
    color: var(--color-brown);
    letter-spacing: 0.0625rem;
    font-size: 0.9em;
  }
  td {
    padding: 5px;
  }
}

@media only screen and (max-width: 576px) {
  table {
    width: auto;
    height: auto;
    line-height: 1, 5;
    padding: 5px;
    border-spacing: 1x;
  }
  tr {
    padding: 5px;
  }
  .skillsColor1 {
    background-color: #bbcfb6;
  }

  th {
    color: #333022;
  }
}

@media only screen and (min-width: 1080px) {
  .skills {
    font-size: 1.4em;

    td {
      font-size: 0.7em;
      letter-spacing: 0.015625rem;
      font-family: "Noto Music";
    }
  }
}
